.myGalleryParent {
width: 200px;
height: 100px;
text-align: center;
}

#myGallery {
width: 100%;
height: 100%;
z-index: 1;
text-align: center;
}

*{
	margin:0;
	padding:0;
	border: none;
	text-decoration:none;
	list-style:none;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
a:link 
{
	text-decoration:underline;
	color: #289000;
}
a:visited 
{
	text-decoration:underline;
	color: #599000;
}
a:hover 
{
	text-decoration:underline;
	color: #982000;
}
a:active 
{
	text-decoration:underline;
	color: #599000;
}
body {
	text-align:left;
	background-color:#ffffff;
}

#wrapper {
	font-size:14px;
	color: #555555;
/*	width: 700px;*/
/*	height:500px;*/
/*	margin-top:60px;*/
/*	margin-left : auto; */
/*	margin-right : auto ;*/
}

#myCanvas {
	margin-top:5px;
	background-color: #DDDDDD;
	border: 1px solid #777777;
}